
.chatbot {
    margin: 0;
    margin-top: 0;
}

    .chatbot #webchat *.webchat__connectivityStatus, .chatbot #webchat * p {
        font-weight: normal !important;
        line-height: 20px;
    }

.webchat--css-qaulg-nqmnze.webchat__basic-transcript .webchat__basic-transcript__activity {
    padding-top: 5px !important;
}

.chatbot #webchat * {
    /*font-size: 14px;
        border: none !important;*/
    border: none;
}

.chatbot .webchat--css-irbud-bsfxty.webchat--css-irbud-bsfxty.webchat--css-irbud-bsfxty {
    color: #26333A !important;
}

.chatbot input.webchat__send-box-text-box__input:focus, .chatbot .webchat__send-box__button:focus, .chatbot .webchat__icon-button:focus {
    border: 2px solid #0077DA !important;
}

.chatbot .webchat__send-box__text-box.webchat__send-box__text-box {
    padding: 0px 10px !important;
}


.chatbot .endchatarea {
    text-align: center;
    font-size: 16px !important;
    width: 80% !important;
    display: none;
    position: absolute;
    top: 0px;
    background: #fff !important;
    padding: 20px 30px !important;
    height: 230px !important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    box-shadow: 0px 1px 10px #ccc;
}

    .chatbot .endchatarea h2 {
        margin: 0px 0px 10px;
        padding: 0;
        font-size: 20px !important;
        font-weight: bold;
    }

    .chatbot .endchatarea p {
        margin: 0;
        padding: 0;
        font-size: 13px !important;
    }

    .chatbot .endchatarea .cnfrmchat {
        padding: 10px 20px;
        font-size: 16px !important;
        background: #0077DA;
        color: #fff;
        display: block;
        text-decoration: none !important;
        width: 100%;
        border-radius: 5px;
        margin: 18px 0px 0px;
    }

        .chatbot .endchatarea .cnfrmchat:hover {
            background: rgb(0 119 218 / 15%);
            color: #26333A;
        }

    .chatbot .endchatarea a {
        margin: 0;
        padding: 10px 20px;
        font-size: 16px !important;
        display: block;
        color: #0077DA;
        text-decoration: none !important;
    }


.chatbot .sessionendchatarea {
    text-align: center;
    font-size: 16px !important;
    width: 80% !important;
    /* height: 90% !important; */
    display: none;
    position: absolute;
    top: 0px;
    background: #fff !important;
    padding: 20px 30px !important;
    height: 203px !important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    box-shadow: 0px 1px 10px #ccc;
}

.chatbot ul.webchat__toaster__list li:last-child {
    float: right;
    padding-right: 15px;
}

.chatbot ul.webchat__toaster__list li:first-child {
    width: auto;
}

.chatbot .sessionendchatarea h2 {
    margin: 0px 0px 10px;
    padding: 0;
    font-size: 20px !important;
    font-weight: bold;
}

.chatbot .sessionendchatarea p {
    margin: 0;
    padding: 0;
    font-size: 13px !important;
}

.chatbot .sessionendchatarea .cnfrmchat {
    padding: 10px 20px;
    font-size: 16px !important;
    background: #0077DA;
    color: #fff;
    display: block;
    text-decoration: none !important;
    width: 100%;
    border-radius: 5px;
    margin: 18px 0px 0px;
}

    .chatbot .sessionendchatarea .cnfrmchat:hover {
        background: rgb(0 119 218 / 15%);
        color: #26333A;
    }

.chatbot .sessionendchatarea a {
    margin: 0;
    padding: 10px 20px;
    font-size: 16px !important;
    display: block;
    color: #0077DA;
    text-decoration: none !important;
}


.chatbot #webchat {
    position: fixed;
    z-index: 99999 !important;
    bottom: 40px;
    height: 85%;
    /*width: 30%;*/
    /*height: 720px;*/
    width: 400px;
    background: #f2f2f2 !important;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 4%) !important;
    right: 36px;
    border-radius: 3px !important;
    overflow: hidden;
}



    .chatbot #webchat > div {
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        z-index: 0;
        border-radius: 25px !important;
    }

.chatbot .main {
    border: 1px solid rgb(230, 230, 230) !important;
    border-radius: 0px 0px 15px 15px !important;
}

.chatbot ul.webchat__toaster__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .chatbot ul.webchat__toaster__list li {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        width: 33%;
    }



        .chatbot ul.webchat__toaster__list li a {
            margin: 34px 10px 24px 0px;
            text-decoration: none;
            display: inline-block;
        }

            .chatbot ul.webchat__toaster__list li a.endchatme {
                margin-top: 33px ​ !important;
                margin-right: 2px;
            }

.chatbot .material-icons {
    font-family: 'Material Icons' !important;
    font-size: 28px !Important;
}

.chatbot .menuitems {
    display: none;
}


.chatbot .menuitems {
    width: 190px;
    height: auto;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    z-index: 99;
    box-shadow: 0px 3px 10px #ccc;
    right: 21px;
}




.chatbot .webchat__fileContent__fileName.webchat__fileContent__fileName {
    color: rgb(255 255 255) !important;
}

.chatbot .webchat__fileContent__size.webchat__fileContent__size {
    color: #fff !important;
}

.chatbot .menuitems a {
    width: 100% !important;
    float: left;
    background: none !important;
    border-top: 1px solid #ececec !important;
    border-bottom: none !important;
    border-right: none !important;
    cursor: pointer;
    text-align: left;
    padding: 10px 0 12px 10px !important;
    border-left: none !important;
    box-sizing: border-box;
    position: static !important;
}

    .chatbot .menuitems a:first-child {
        border-top: 0px !important;
    }

    .chatbot .menuitems a:hover {
        background: #f4f4f4 !important;
    }

.chatbot .wc-chatview-panel .menuitems {
    width: 170px;
    float: left;
    padding: 0px;
}

.chatbot #faqModal, .chatbot #tncModal {
    z-index: 999999;
}

.chatbot div [aria-relevant="all"] + div {
    flex: 1 1 0%;
    /*box-shadow: 0 0px 10px 0 rgba(0,0,0,.16) !important;*/
    background: #f2f2f2;
}

.chatbot .logoarea {
    width: 20px;
    margin: 0;
    float: left;
    height: 20px;
    display: none;
}

.chatbot .react-film__filmstrip__list {
    display: block !important;
}

.chatbot ul.react-film__filmstrip__list li {
    width: 100% !important;
    float: left;
}

.chatbot .react-film__filmstrip {
    max-height: 160px;
    overflow: auto !important;
    max-width: 100%;
    margin-left: 0%;
    padding: 0px 65px;
}

.chatbot .react-film__filmstrip__list {
    display: block !important;
}

.chatbot .react-film__filmstrip__item:first-child {
    padding-left: 0 !important;
}

.chatbot .react-film__filmstrip__item:first-child {
    padding-left: 0 !important;
}

.chatbot .webchat__send-box-text-box__input.webchat__send-box-text-box__input {
    box-shadow: none !important;
    padding-left: 5px !important;
    min-height:53px;
}

.chatbot #webchat .helptext {
    text-align: left;
    padding: 27px 0px 23px 20px !important;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
   /* //text-transform: uppercase;*/
}

.chatbot div [aria-relevant="all"] {
    max-height: 82px !important;
    background: #0077DA;
    height: 82px;
}

.chatbot .webchat--css-hlwsj-xl8pke.webchat__bubble:not(.webchat__bubble--from-user) .webchat__bubble__content {
    background: rgb(68 68 68 / 10%) !important;
    border-color: rgb(230, 230, 230);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: black;
    min-height: 38px;
}

.chatbot .closeicon {
    position: fixed;
    bottom: 40px;
    right: 32px;
    cursor: pointer;
    z-index: 999999 !important;
}

.chatbot .plus {
    background-image: url("images/popup-inactive.html");
    width: 70px;
    height: 70px;
    -webkit-transition: opacity .08s linear,-webkit-transform .16s linear;
    transition: transform .16s linear,opacity .08s linear;
    transition: transform .16s linear,opacity .08s linear,-webkit-transform .16s linear;
    background-repeat: no-repeat;
}

    .chatbot .plus:hover {
        background-image: url("images/popup-active.html");
    }

.chatbot.chatBotActive {
    background-image: url("images/popup-active.html");
}

.chatbot .plus.minus {
    background-image: url("close_ico.html");
    width: 70px;
    height: 70px;
    -webkit-transition: opacity .08s linear,-webkit-transform .16s linear;
    transition: transform .16s linear,opacity .08s linear;
    transition: transform .16s linear,opacity .08s linear,-webkit-transform .16s linear;
    background-repeat: no-repeat;
    background-color: #C4C4C4;
    border-radius: 50px;
    background-position: center center;
    background-size: 35px 35px;
}

.chatbot .closeicon.plus:after {
    content: "";
    background: none;
    position: absolute;
    right: 8px;
    bottom: -1px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 30px solid #0077DA;
    display: none;
}

.chatbot .closeicon.plus.minus:after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #C4C4C4;
    top: -29px;
    bottom: inherit;
    left: 3px;
    right: 0;
    margin: 0 auto;
}

.chatbot .webchat__suggested-action__button {
    background: white;
    border-color: #0077DA !important;
    border-style: solid;
    border-width: 2px;
    color: #0077DA !important;
}

    .chatbot .webchat__suggested-action__button:hover {
        background: rgb(0 119 218 / 15%) !important;
        /*color: #26333A !important;*/
    }

.chatbot button.webchat__suggested-action__button {
    white-space: normal !important;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px !important;
    min-height: 37px !important;
    height: auto !important;
}

.chatbot .webchat__bubble.webchat__bubble--from-user.webchat__bubble--hide-nub .webchat__bubble__content {
    background: #0077DA !important;
    border-color: #0077DA;
    border-radius: 18px !important;
    border-style: solid;
    border-width: 1px;
    color: black;
    min-height: 38px;
    color: #fff !important;
}

.webchat__basic-transcript__activity--from-user .webchat__stacked-layout__avatar-gutter {
    display: none !important;
}

.chatbot .webchat__initialsAvatar:not(.webchat__initialsAvatar--fromUser) {
    background: url(images/avtr.html) left top no-repeat !important;
    color: #26333A !important;
}

    .chatbot .webchat__initialsAvatar:not(.webchat__initialsAvatar--fromUser) .webchat__initialsAvatar__initials {
        font-size: 0px !important;
    }

.chatbot .webchat__initialsAvatar .webchat__initialsAvatar__initials {
    font-size: 15px;
}

.webchat__initialsAvatar {
    background-color: #00639f !important;
}

.chatbot .webchat__bubble.webchat__bubble--hide-nub .webchat__bubble__content {
    background: transparent !important;
    border-color: #f1f1f1;
    border-radius: 13px !important;
    border-style: solid;
    border-width: 1px;
    color: #26333A !important;
    min-height: 38px;
    max-width: 243px;
}

.chatbot .webchat__bubble.webchat__bubble--hide-nub .markdown {
    background: #fff !important;
}

.ac-adaptiveCard .ac-actionSet .ac-pushButton {
    appearance: none;
    background-color: transparent;
    border-style: solid !important;
    border-width: 1px !important;
    color: rgb(0, 99, 177);
    font-weight: 600;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 2px;
}

.ac-container.ac-adaptiveCard {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}

a.closepopup img {
    width: 18px;
    display: none;
}

a.closepopup {
    background: url(images/icon-min.html) left top no-repeat;
    width: 20px;
    height: 20px;
    background-size: 17px;
}

a.endchatme img {
    width: 17px;
    display: none;
}

a.endchatme {
    background: url(images/icon-close.html) left top no-repeat;
    width: 20px;
    height: 20px;
    background-size: 18px;
}

li.webchat__basic-transcript__activity.webchat__basic-transcript__activity--acknowledged.webchat__basic-transcript__activity--from-user .webchat__bubble__nub-pad {
    display: none;
}

.chatbot .webchat__send-box__main {
    box-shadow: none !important;
    border-top: 0px !important;
    margin-top: 0px;
    border-radius: 0px !important;
    padding-top: 4px;
    padding-bottom: 3px;
}

.webchat--css-jimwk-1hkybn1 {
    padding: 10px 15px !important;
}


.chatbot .webchat__send-icon {
    fill: #0077DA !important;
    cursor: pointer;
}

.webchat__basic-transcript:focus .webchat__basic-transcript__focus-indicator,
.webchat__basic-transcript .webchat__basic-transcript__terminator:focus + .webchat__basic-transcript__focus-indicator {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-width: 1px !important;
}

.chatbot .webchat__connectivityStatus {
    background: #ffffff;
    margin: 0px !important;
    padding: 11px 14px;
    font-size: 13px;
}

.chatbot .webchat__upload-button SVG {
    fill: rgb(173 173 173) !important;
    cursor: pointer;
}

.chatbot .footlinks {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    border-top: 1px solid #cecece;
}

    .chatbot .footlinks ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }

        .chatbot .footlinks ul li {
            margin: 0;
            float: left;
            padding: 0;
        }

            .chatbot .footlinks ul li a {
                margin: 0;
                display: block;
                padding: 10px 6px 10px 18px;
                color: #0077DA;
                text-decoration: none;
            }


.chatbot ul[role="region"] {
    overflow-y: visible !important;
}

@media (min-width:320px) and (max-width:1024px) {
    .chatbot #webchat {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: inherit;
        left: 0px;
        border-radius: 0px !important;
    }

    .chatbot div [aria-relevant="all"] {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .chatbot .closeicon.plus.minus {
        position: fixed;
        top: 17px;
        right: 7px;
        z-index: 999999;
        width: 25px;
        height: 25px;
        left: inherit;
        background-size: 20px;
        background-color: inherit !important;
        background-image: url(close_ico_mob.html);
    }

        .chatbot .closeicon.plus.minus:after {
            display: none !important;
        }
}


.chatbot #webchat .sessionendchatarea a, .webchat__suggested-actions__button button {
    width: 254px;
    margin: 15px 0px !important;
    float: none;
    border: 1px solid #0077da !important;
    border-radius: 4px;
    padding: 0px 0px !important;
    font-size: 15px !important;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
}

.webchat__suggested-actions__button {
    padding: 0px 5px !important;
}

.chatbot #webchat .sessionendchatarea a:hover {
    background: rgb(0 119 218 / 15%) !important;
}

button.webchat__suggested-action__button {
    height: auto;
    margin: 10px 0px 0px 0px !important;
    float: none;
    border: 1px solid #0077da !important;
    border-radius: 4px;
    padding: 0px 0px !important;
    font-size: 16px !important;
    font-weight: bold;
}

    button.webchat__suggested-action__button:hover {
        color: #0077da !important;
    }

.react-film__main .react-film__filmstrip .react-film__filmstrip__list .react-film__filmstrip__item:last-child {
    padding-right: 0px !important;
}

button.webchat__icon-button.webchat__icon-buttonInactive {
    background: url(images/arrow-inactive.html) 0px 4px no-repeat !important;
    border: 0px !important;
}

button.webchat__icon-button {
    background: url(images/arrow-active.html) 0px 4px no-repeat !important;
    border: 0px !important;
}
/*button.webchat__icon-button:hover {
    background: url(images/arrow-active.png) 10px 5px no-repeat !important;
    border: 0px !important;
}*/
.webchat__send-icon {
    display: none;
    /* background: red!important; */
}

a.closepopup span {
    background: transparent;
    color: #fff;
    font-size: 19px;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 18.5px;
}

a.endchatme span {
    background: transparent;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

a.endchatme {
    vertical-align: top;
}

.webchat--css-jimwk-1vap6r.webchat__stacked-layout {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.webchat__suggested-actions__carousel {
    background: #f2f2f2 !important;
}

.webchat__stacked-layout {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

a.closeicon.plus span:before {
    content: 'Chat with us';
    position: absolute;
    left: -137px;
    top: 13px;
    background: #0077da;
    color: #fff;
    font-size: 15px;
    padding: 7px 14px;
    border-radius: 16px;
}

a.closeicon.plus span:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #0077da;
    content: '';
    left: -14px;
    position: absolute;
    top: 23px;
}

.ac-adaptiveCard .ac-actionSet .ac-pushButton {
    appearance: none;
    background-color: transparent;
    border-style: solid !important;
    border-width: 1px !important;
    color: rgb(0 119 218) !important;
    font-weight: bold !important;
    padding: 0;
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 14px;
    height: 37px;
    border-color: #0077da !important;
}

    .ac-adaptiveCard .ac-actionSet .ac-pushButton:hover {
        background: rgba(0,119,218,0.1) !important;
    }

.ac-pushButton[aria-pressed="true"] {
    background-color: rgba(0,119,218,0.7) !important;
    border-color: #0077da;
    color: #0077da !important;
}
.grecaptcha-badge {
    display: none;
}

.chat_indicator {
    position: absolute;
    bottom: 67px;
    left: 10px;
    height: 20px;
    width: 64px;
}

.webchat__stacked-layout__status span{
    margin-bottom:40px;
}


#showTextForTypingIndicator {
    margin: 0px;
    font-size: 10px;
    color: #767676;
    display: block;
    font-weight:normal;
}

/* Rating Star Widgets Style */
/*.ac-columnSet {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}



    .ac-columnSet .ac-container {
        display: inline-block;
    }*/



        /* Idle State of the stars */
        /*.ac-columnSet .ac-container:before {
            font-size: 2.5em;*/ /* Change the size of the stars */
            /*color: #ccc;*/ /* Color on idle state */
            /*content: "★"
        }*/



        /* Hover state of the stars */
        /*.ac-columnSet .ac-container.hover:before {
            color: #0077DA;
        }*/



        /* Selected state of the stars */
        /*.ac-columnSet .ac-container.selected:before {
            color: #0077DA;
        }



        .ac-columnSet .ac-container > div {
            display: none !important;
        }



.ac-vertical-separator {
    display: none !important;
}*/
